*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
}

h1{
    padding-top: 2rem;
    text-align: center;
}

main.wrapper{
    width: 40%;
    margin: 0 auto;
    padding: 2rem;
}

div.taskbar{
    text-align: center;
}


input.new-todo-element{
    padding: .5rem 1rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    font-size: 1.5rem;
}

ul.todo-list{
    list-style-type: none;
}

ul.todo-list > li.todo-item{
    padding: .5rem 1rem;
    border: 2px solid rgb(162, 162, 162);
    border-radius: .5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

ul.todo-list > li.todo-item:hover{
    background-color: rgb(233, 233, 233);
}

ul.todo-list > li.todo-item span i:hover{
    color: red;
}